@import "./vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "./vendor/font-awesome-4.6.3/scss/font-awesome.scss";
@import "_theme";
@import "_main";
@import "_layout";

html, body {
  width: 100%;
  height: 100%;
  color: $app-dark;
}

body {
  background-color: $app-default;
  width: 100%;
  height: 100%;
}
main {
  height: 100%;
  
}

.main-title {
  text-align: center;
  background-color: black;
  color: lightgray;
  width: 100%;
  margin-top: 0px;
  padding: 3px;
}

.list-form {
  margin: 0px auto;
}

.title-subhead {
  border: 5px solid black;
  display: inline-block;
  margin: 0px auto;
  width: 50%;
  padding: 5px;
}

sign-up, sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  list-style: none;
}

.delete-icon {
  margin-left: 2px;
  color: red;
}

.delete-icon:hover {
  color: orange;
}