<form name="signup" class="signup-form"  ng-submit="$ctrl.signup($ctrl.user)">
  <h3 class="signup-form-title">Sign Up</h3>
  <input type="text" class="form-control" placeholder="Username" required ng-model="$ctrl.user.username">
  <input type="password" class="form-control" placeholder="Password" required ng-model="$ctrl.user.password">
  <button type="submit" class="btn btn-default">Sign Up</button>
  <span id="signup-footer">Already Registered? <a href="#/signin" class="primary-link">Click Here</a></span>
</form>