<form name="signin" class="signin-form" ng-submit="$ctrl.signin($ctrl.user)">
  <h3 class="signin-form-title">Sign In</h3>
  <input type="text" class="form-control" placeholder="Username" required ng-model="$ctrl.user.username">
  <input type="password" class="form-control" placeholder="Password" required ng-model="$ctrl.user.password">
  <button type="submit" class="btn btn-default">Sign In</button>
  <span class="signin-footer">New User? Signup now <a href="#/signup" class="primary-link"> Click Here</a></span>
</form>